*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 400px;
  margin: auto;
  background-color: rgb(231, 234, 236);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 0.5rem 1rem;

}

.Header {
  display: flex;
  margin-bottom: 2rem;
}

.Header-input {
  width: 80%;
  padding: 0.5rem 0.5rem;

}

.Header-button {
  width: 20%;
}

.Main {
  flex: 1;
  overflow-y: auto;
  padding: 0.5rem 0;
}

.Filter-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.Filter-li {
  width: 30%;
  padding: 0.5rem 0;
  border-radius: 2px;
  border: 2px solid deeppink;
}

.Filter-li:hover {
  background-color: deeppink;
  cursor: pointer;
}

.Todo-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.Todo-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: rgb(245, 199, 223);
  padding: 0.4rem;
  border-radius: 5px;
}

.On {
  background-color: deeppink;
}

.Trash-button {
  padding: 0.3rem;
  border-radius: 50%;
}

.Trash-svg {
  width: 1.1rem;
}

.Todo-li-button {
  font-size: 0.8rem;
  width: 20%;
  padding: 0.5rem 0.2rem;
}

.footer {
  margin-top: 0.5rem;
}
