*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 800px;
  width: 400px;
  margin: auto;
  background-color: rgb(231, 234, 236);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;

}

.Header {
  display: flex;
  margin-bottom: 2rem;
}

.Header-input {
  width: 80%;
  padding: 0.5rem 0.5rem;

}

.Header-button {
  width: 20%;
}

.Main {
  flex: 1 0 auto;
}

.Filter-ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.Filter-li {
  width: 30%;
  padding: 0.5rem 0;
  border-radius: 2px;
  border: 2px solid deeppink;
}

.Filter-li:hover {
  background-color: deeppink;
  cursor: pointer;
}

.Todo-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.Todo-li {
  display: flex;
  justify-content: space-between;

}

.On {
  background-color: deeppink;
}

/* .Off {
  background-color: grey;
} */
